#Other files and bins
gui
testgui
texture.bmp

#Cmake
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

#Dropbox cmake patch
#Different directories on different devices ->
#Dropbox syncing breaks cmake
build